.panelHolder {
  padding: 20px 0 0 50px;
}
.display_list {
  padding: 0;
  border: 4px solid rgb(58, 58, 58);
  max-width: 300px;
  background-color: rgb(212, 212, 212);
}
.list_item {
  list-style: none;
  color: black;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
}
.active {
  background: black;
  color: white;
}
.control_btn:hover {
  border-color: #666666;
}
.btn_holder {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}
.central_row {
  display: flex;
  gap: 10px;
}
